@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
.main-container {
  margin: 30px auto;
  width: 1240px;
  display: flex;
  flex-direction: column;
}
.main-title {
  margin: 10px auto 30px auto;
}
.main-logo {
  height: 100px;
}
.button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: center;
}
.filter-button,
.reset-button {
  width: 140px;
  height: 45px;
  background-color: #747373;
  border-radius: 5px;
  color: whitesmoke;
  border-style: none;
}
.filter-button:hover, .reset-button:hover {
  cursor: pointer;
}
.reset-button {
  background-color: #f43232;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 20px;
  justify-content: flex-start;
}
.pokemon-block {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 280px;
  height: 300px;
  background-color: #dbdbdb;
  border-radius: 10px;
  border-style: none;
}
.pokemon-number {
  font-size: 45px;
  margin-left: -20px;
  margin-top: -20px;
  color: #797979;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #797979;
}
.img-container {
  padding-bottom: 20px;
  display: flex;
}
.img-detail {
  height: 150px;
  max-width: 250px;
  object-fit: contain;
  mix-blend-mode: multiply;
}
.info-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}
.types {
  display: flex;
  column-gap: 20px;
}
.type {
  width: 100px;
  padding: 10px;
  text-align: center;
  color: rgb(64, 64, 64);
}
.type-normal {
  border-bottom: 2px solid;
  border-bottom-color: #e7e5e5;
}
.type-fire {
  border-bottom: 2px solid;
  border-bottom-color: #ff686b;
}
.type-water {
  border-bottom: 2px solid;
  border-bottom-color: #58aeff;
}
.type-grass {
  border-bottom: 2px solid;
  border-bottom-color: #5c9073;
}
.type-poison {
  border-bottom: 2px solid;
  border-bottom-color: #cfbaf0;
}
.type-flying {
  border-bottom: 2px solid;
  border-bottom-color: #477a91;
}
.type-bug {
  border-bottom: 2px solid;
  border-bottom-color: #6e9736;
}
.type-electric {
  border-bottom: 2px solid;
  border-bottom-color: #d4bd6f;
}
.type-ground {
  border-bottom: 2px solid;
  border-bottom-color: #d5bdaf;
}
.type-fairy {
  border-bottom: 2px solid;
  border-bottom-color: #ffb3c6;
}
.type-fighting {
  border-bottom: 2px solid;
  border-bottom-color: #3d405b;
}
.type-psychic {
  border-bottom: 2px solid;
  border-bottom-color: #e574bc;
}
.type-rock {
  border-bottom: 2px solid;
  border-bottom-color: #d0b49f;
}
.type-steel {
  border-bottom: 2px solid;
  border-bottom-color: #495057;
}
.type-ice {
  border-bottom: 2px solid;
  border-bottom-color: #5aa9e6;
}
.type-ghost {
  border-bottom: 2px solid;
  border-bottom-color: #231942;
}
.type-dark {
  border-bottom: 2px solid;
  border-bottom-color: #1c172d;
}
.type-dragon {
  border-bottom: 2px solid;
  border-bottom-color: #f43232;
}
.message {
  font-size: 40px;
  margin: 40px auto;
  color: #495057;
}
.footer {
  height: 60px;
  background-color: #3a5faa;
}
.footer-text {
  color: whitesmoke;
  text-align: center;
  padding: 20px 0;
}
