a {
  text-decoration: none;
}
.mainContainer {
  margin: 30px auto;
  width: 1240px;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: center;
}
.logoImage {
  height: 100px;
  width: auto;
  margin-top: 30px;
}
.button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: center;
}
.filter-button,
.reset-button {
  width: 140px;
  height: 45px;
  background-color: #747373;
  border-radius: 5px;
  color: whitesmoke;
  border-style: none;
}
.filter-button:hover,
.reset-button:hover {
  cursor: pointer;
}
.reset-button {
  background-color: #f43232;
}
.pokemonCard {
  border: 1px solid #b7b7b7;
  border-radius: 10px;
  margin: 1rem;
  text-align: center;
  width: 200px;
}
.title {
  text-align: center;
}
.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.pokemonContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 20px;
  justify-content: flex-start;
}
.pokemonBlock {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 240px;
  height: 300px;
  background-color: #dbdbdb;
  border-radius: 10px;
  border-style: none;
}
.pokemon-number {
  font-size: 45px;
  margin-left: -20px;
  margin-top: -20px;
  color: #797979;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #797979;
}
.imgContainer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.imgDetail {
  height: 150px;
  max-width: 200px;
  object-fit: contain;
  mix-blend-mode: multiply;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}
.types {
  display: flex;
  column-gap: 20px;
}
.type {
  width: 100px;
  padding: 10px;
  text-align: center;
  color: rgb(64, 64, 64);
  border-bottom: 2px solid;
}
.type-normal {
  border-bottom-color: #e7e5e5;
}
.type-fire {
  border-bottom-color: #ff686b;
}
.type-water {
  border-bottom-color: #58aeff;
}
.type-grass {
  border-bottom-color: #5c9073;
}
.type-poison {
  border-bottom-color: #cfbaf0;
}
.type-flying {
  border-bottom-color: #477a91;
}
.type-bug {
  border-bottom-color: #6e9736;
}
.type-electric {
  border-bottom-color: #d4bd6f;
}
.type-ground {
  border-bottom-color: #d5bdaf;
}
.type-fairy {
  border-bottom-color: #ffb3c6;
}
.type-fighting {
  border-bottom-color: #3d405b;
}
.type-psychic {
  border-bottom-color: #e574bc;
}
.type-rock {
  border-bottom-color: #d0b49f;
}
.type-steel {
  border-bottom-color: #495057;
}
.type-ice {
  border-bottom-color: #5aa9e6;
}
.type-ghost {
  border-bottom-color: #231942;
}
.type-dark {
  border-bottom-color: #1c172d;
}
.type-dragon {
  border-bottom-color: #f43232;
}
.message {
  font-size: 40px;
  margin: 40px auto;
  color: #495057;
}
.footer {
  height: 60px;
  background-color: #3a5faa;
}
.footer-text {
  color: whitesmoke;
  text-align: center;
  padding: 20px 0;
}

/* Filter Component */

.filterContainer {
  display: flex;
  justify-content: center;
}
.selectContainer {
  width: 100px;
  padding: 2px;
  border-radius: 5px;
  margin-left: 10px;
  color: #495057;
}

/* Pokemon Detail */
.mainContainerDetail {
  margin: 30px auto;
  width: 1240px;
  display: flex;
  justify-content: center;
}

.backLink {
  font-size: 40px;
  margin: 30px auto;
  width: 1240px;
  display: flex;
  justify-content: center;
}
.statsPokemon {
  flex-direction: column;
}
